@model GymPortal.Web.Models.LoginViewModel

<h1>Sign In</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email"></span>

    <input asp-for="Password" type="password" placeholder="Password" />
    <span asp-validation-for="Password"></span>

    <button class="btn-primary" type="submit">Sign In</button>
</form>