<h1>Sign Up</h1>
<form>
    <input placeholder="Email" />
    <input placeholder="Password" type="password" />
    <input placeholder="Confirm Password" type="password" />
    <button class="btn-primary">Become a Member</button>
</form>