<form method="post">
    <input name="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required minlength="6" />
    <input name="confirm" type="password" placeholder="Confirm Password" required />
    <button class="btn-primary">Become a Member</button>
</form>