<h1>Set Your Password</h1>
<form>
    <input placeholder="Password" type="password" />
    <input placeholder="Confirm Password" type="password" />
    <button class="btn-primary">Set Password</button>
</form>