body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #111;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav-actions a {
    margin-left: 10px;
}

.btn-primary {
    background: #D7FF00;
    color: black;
    padding: 8px 15px;
    text-decoration: none;
}

.btn-outline {
    border: 1px solid white;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
}

/* FOOTER */
.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}